My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtMinute": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "587ccb06-570c-4df1-8244-67c6e58e7011",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "return [\n  { json: { ticker: \"MXRF11\", precoAlvo: 9.40 } },\n  { json: { ticker: \"GARE11\", precoAlvo: 8.10 } },\n  { json: { ticker: \"KNSC11\", precoAlvo: 8.40 } },\n  { json: { ticker: \"BTCI11\", precoAlvo: 9.00 } },\n  { json: { ticker: \"VGIR11\", precoAlvo: 9.40 } },\n  { json: { ticker: \"VGHF11\", precoAlvo: 6.80 } }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "3035e036-003e-4e3c-bfd7-8d4b666ae040",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "8df52f82-2c2b-478e-ad3f-0ecaded2227f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "=https://brapi.dev/api/quote/{{$json.ticker}}?token=tCuruVj8xMx6t3KTybEiNg",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "35ac94e9-2030-42a5-be7f-3af8b0b5a3d9",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8bb39eed-ba0a-4677-9721-d2f6168bc91e",
              "leftValue": "={{$json.results[0].regularMarketPrice}}",
              "rightValue": "={{$('Code in JavaScript').item.json.precoAlvo}}",
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        0
      ],
      "id": "f16ebd23-17e8-4a6f-aad5-5b0ff4d691c3",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "gabrielhen122@icloud.com",
        "subject": "=🚨 FII no preço alvo! {{$('Code in JavaScript').item.json.ticker}}",
        "message": "=O FII {{$('Code in JavaScript').item.json.ticker}} atingiu o preço alvo!  Preço atual: R$ {{$json.results[0].regularMarketPrice}} Preço alvo: R$ {{$('Code in JavaScript').item.json.precoAlvo}}  Hora de comprar! 🚀",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1040,
        0
      ],
      "id": "91febd2e-daba-41fa-bea5-cce5f559b014",
      "name": "Send a message",
      "webhookId": "6ffa88ca-4a16-410a-ac22-23b0cb0e90c3",
      "credentials": {
        "gmailOAuth2": {
          "id": "1n9QifoXYRok8kiO",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        624,
        -144
      ],
      "id": "68395654-ce86-41d1-a590-5015f5a5c044",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0d1a818e-4251-42fc-ada9-0e43dd1a6e95",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dd0e3fdb3ed5907359c4acf625e5d106e0ff4cfb86776701ef53697cb21dd083"
  },
  "id": "x0MRrU0BzFBCDas3",
  "tags": []
}